body {
    background-image: url("/images/background-home.jpg");
    background-size: 100% 100%;
}

.main {
    border: 4px dashed white;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    padding: 10px 15px;
    margin-top: 250px;
    float: right;
    margin-right: 40px;
    color: #070719;
}

.areabutton {
    border: 4px solid #0B0B3B;
    border-radius: 16px;
    width: 40%;
    text-align: center;
    background-color: #A9D0F5;
    opacity: 0.8;
    padding-top: 12px;
    margin: auto;
}

.show {
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #81F7F3;
    font-size: 20px;
    padding: 7px;
    color: #070719;
}

.add {
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #2E9AFE;
    font-size: 20px;
    padding: 7px;
}

.delete {
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #8258FA;
    font-size: 20px;
    padding: 7px;
}

.logout {
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    background-color: #FE2EF7;
    font-size: 20px;
    padding: 7px;
}

.show:hover {
    border: 3px solid #F4FA58;
    background-color: #58D3F7;
}

.add:hover {
    border: 3px solid #F4FA58;
    background-color: #0174DF;
}

.delete:hover {
    border: 3px solid #F4FA58;
    background-color: #642EFE;
}

.logout:hover {
    border: 3px solid #F4FA58;
    background-color: #B404AE;

}

form {
    display: inline-block;
}
